<p>

<strong>Name</strong>
<strong>Address</strong>
<strong>Product</strong>
<strong>Price</strong>

</p>

<%= @market.name %>
<%= @market.address %>
<%= @market.product %>
<%= @market.price %>

</br>
<%= link_to 'back', markets_path %>
